@model List<Ristorante360Admin.Models.Product>

@{
    ViewData["Title"] = "Ristorante 360 - Productos";

    Layout = "~/Views/Shared/_Layout_General.cshtml";

}

<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Productos El Chante</h4>
                    <p class="mb-0"></p>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Administración</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Productos</a></li>
                </ol>
            </div>
        </div>
        <!-- row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Administración de Productos</h4>
                        <a class="btn btn-success btn-sm" asp-controller="Productos" asp-action="ProductCreate">Añadir Producto</a>

                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="productTable" class="display nowrap table table-striped" style="width:100%">
                                <thead class="bg-info">
                                    <tr>
                                        <th><strong>Nombre del producto</strong></th>
                                        <th><strong>Descripción</strong></th>
                                        <th><strong>Precio</strong></th>
                                        <th><strong>Categoría</strong></th>
                                        <th><strong>Disponibilidad</strong></th>
                                        <th><strong>Imagen</strong></th>
                                        <th><strong>Acción</strong></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var producto in Model)
                                    {
                                        <tr>
                                            <td>@producto.ProductName</td>
                                            <td>@producto.ProductDescription</td>
                                            <td>₡@producto.Price</td>
                                            <td>@producto.oCategory.CategoryName</td>
                                            <td class="text-center">
                                                @if (producto.Availability == true)
                                                {
                                                    <span class="badge badge-lg badge-success">Disponible</span>
                                                }
                                                else
                                                {
                                                    <span class="badge badge-lg badge-danger">No disponible</span>
                                                }
                                            </td>

                                            <td>
                                                <img src="@Url.Content("~/Images/Product/"+producto.Image)" height="125px" width="125px" />
                                            </td>

                                            <td>
                                                <div class="dropdown">
                                                    <button type="button" class="btn btn-success light sharp" data-toggle="dropdown">
                                                        <svg width="20px" height="20px" viewBox="0 0 24 24" version="1.1">
                                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                <rect x="0" y="0" width="24" height="24" />
                                                                <circle fill="#000000" cx="5" cy="12" r="2" />
                                                                <circle fill="#000000" cx="12" cy="12" r="2" />
                                                                <circle fill="#000000" cx="19" cy="12" r="2" />
                                                            </g>
                                                        </svg>
                                                    </button>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item" asp-controller="Productos" asp-action="ProductCreate" asp-route-ProductId="@producto.ProductId">Editar</a>
                                                        <a class="dropdown-item" asp-controller="Productos" asp-action="ProductDelete" asp-route-ProductId="@producto.ProductId">Eliminar</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
<script src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>

<script>
    var js = jQuery.noConflict(true);
    js(document).ready(function () {
        js('#productTable').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.25/i18n/Spanish.json"
            },
            responsive: true
        });
    });
</script>


<style>
    div.container {
        max-width: 1200px
    }
</style>


