@model List<Ristorante360Admin.Models.Order>

@{
    ViewData["Title"] = "Pedidos";
    Layout = "~/Views/Shared/_Layout_General.cshtml";
}

<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Pedidos La Dulce Vida - Ristorante 360</h4>
                    <p class="mb-0">Your business dashboard template</p>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Modulo de Gestión de Pedidos</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Pedidos</a></li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">

                            @foreach (var orderProduct in Model?.OrderBy(s => s.OrderStatusId) ?? Enumerable.Empty<Ristorante360Admin.Models.Order>())
                            {

                                <div class="col-md-4">
                                    <div class="card order-card status-@orderProduct?.OrderStatusId mb-4">
                                        <div class="card-body">
                                            <ul class="nav nav-tabs" id="orderTabs-@orderProduct?.OrderId" role="tablist">
                                                <li class="nav-item">
                                                    <a class="nav-link active" id="generalTab-@orderProduct?.OrderId" data-toggle="tab" href="#generalContent-@orderProduct?.OrderId" role="tab" aria-controls="generalContent-@orderProduct?.OrderId" aria-selected="true">Información General</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" id="detailsTab-@orderProduct?.OrderId" data-toggle="tab" href="#detailsContent-@orderProduct?.OrderId" role="tab" aria-controls="detailsContent-@orderProduct?.OrderId" aria-selected="false">Detalles del Pedido</a>
                                                </li>
                                            </ul>
                                            <div class="tab-content mt-3">
                                                <div class="tab-pane fade show active" id="generalContent-@orderProduct?.OrderId" role="tabpanel" aria-labelledby="generalTab-@orderProduct?.OrderId">
                                                    <h5 class="card-title">Pedido: @orderProduct?.OrderId</h5>
                                                    <p class="card-text" style="color:white">Fecha: @orderProduct?.OrderDate</p>

                                                    <p class="card-text">
                                                        Cliente: @(orderProduct?.Client != null && !string.IsNullOrWhiteSpace(orderProduct.Client.FullName)
                                                    ? orderProduct.Client.FullName
                                                    : "Cliente no especificado")
                                                    </p>
                                                    <p class="card-text">
                                                        Dirección del cliente: @(orderProduct?.Client != null && !string.IsNullOrWhiteSpace(orderProduct.Client.Address)
                                                    ? orderProduct.Client.Address
                                                    : "Dirección no especificada")
                                                    </p>
                                                    <p class="card-text">
                                                        Estado:
                                                        @if (orderProduct?.OrderStatusId == 1)
                                                        {
                                                            <span class="badge badge-primary">Registrado</span>
                                                        }
                                                        else if (orderProduct?.OrderStatusId == 2)
                                                        {
                                                            <span class="badge badge-warning">Preparando</span>
                                                        }
                                                        else if (orderProduct?.OrderStatusId == 3)
                                                        {
                                                            <span class="badge badge-success">Completado <span class="ml-1 fa fa-check"></span></span>
                                                        }
                                                        else
                                                        {
                                                            <span class="badge badge-danger">Cancelado</span>
                                                        }
                                                    </p>
                                                    <p class="card-text text-right">Monto: ₡@orderProduct?.TotalAmount</p>
                                                </div>
                                                <div class="tab-pane fade" id="detailsContent-@orderProduct?.OrderId" role="tabpanel" aria-labelledby="detailsTab-@orderProduct?.OrderId">
                                                    <h5>Productos del Pedido: @orderProduct?.OrderId</h5>
                                                    <ul>
                                                        @foreach (var product in orderProduct?.OrderProducts ?? Enumerable.Empty<Ristorante360Admin.Models.OrderProduct>())
                                                        {
                                                            <p class="card-text"> @product?.Product?.ProductName ?? "Producto no especificado" x @product?.Quantity</p>
                                                        }
                                                    </ul>
                                                    <h5>Especificaciones</h5>

                                                    <p class="card-text">
                                                        @(orderProduct?.OrderSpecifications != null && !string.IsNullOrWhiteSpace(orderProduct.OrderSpecifications)
                                                            ? orderProduct.OrderSpecifications
                                                            : "No especificado")
                                                    </p>

                                                </div>
                                            </div>

                                            <!-- Dropdown dentro del card -->
                                            @if (orderProduct?.OrderStatusId != 3 && orderProduct?.OrderStatusId != 4)
                                            {
                                                <div class="dropdown text-sans-serif text-right">
                                                    <button class="btn btn-success light sharp dropdown-toggle" type="button" id="order-dropdown-@orderProduct?.OrderId" data-toggle="dropdown" data-boundary="viewport" aria-haspopup="true" aria-expanded="false">
                                                        <span><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="18px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="5" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="19" cy="12" r="2"></circle></g></svg></span>
                                                    </button>
                                                    <div class="dropdown-menu dropdown-menu-right border py-0" aria-labelledby="order-dropdown-@orderProduct?.OrderId">
                                                        <div class="py-2">
                                                            @foreach (var status in ViewBag.OrderStatuses)
                                                            {
                                                                <a class="dropdown-item" href="#" data-orderid="@orderProduct?.OrderId" data-statusid="@status.Key">@status.Value</a>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- jQuery primero -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- metisMenu desde CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/3.0.7/metisMenu.min.js"></script>
<!-- ApexCharts desde CDN -->
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<!-- Bootstrap desde CDN -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

<!-- Scripts requeridos de tu proyecto -->
<script src="~/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="~/vendor/chart.js/Chart.bundle.min.js"></script>
<script src="~/js/custom.min.js"></script>
<script src="~/js/deznav-init.js"></script>
<script src="~/vendor/highlightjs/highlight.pack.min.js"></script>

<!-- Inicializar metisMenu y dropdown de Bootstrap -->
<script>
    $(document).ready(function () {
        // Inicializar metisMenu
        $('#menu').metisMenu();

        // Forzar la inicialización del dropdown de Bootstrap
        $('.dropdown-toggle').dropdown();
    });
</script>

<script>
    $(document).ready(function () {
        $(".dropdown-item").click(function () {
            var orderId = $(this).data("orderid");
            var statusId = $(this).data("statusid");

            $.ajax({
                url: '@Url.Action("UpdateOrderStatus", "VentasPedidos")',
                type: 'POST',
                data: { orderId: orderId, statusId: statusId },
                success: function (response) {
                    console.log("Respuesta del servidor:", response);

                    if (response.success) {
                        console.log("Estado actualizado exitosamente en el servidor");
                        // Actualizar visualmente el estado
                        $(`#order-${orderId} .badge`).text(response.newStatusText);
                    } else {
                        console.log('No se pudo actualizar el estado:', response.message);
                        alert('No se pudo actualizar el estado: ' + response.message);
                    }
                },
                error: function () {
                    alert('Error al actualizar el estado');
                }
            });
        });
    });
</script>

<style>
    .order-card {
        border: 1px solid #f2f2f2;
        border-radius: 8px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    }

        .order-card .card-body {
            padding: 20px;
        }

        .order-card h5.card-title {
            color: #ffff;
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 15px;
        }

        .order-card p.card-text {
            color: #ffff;
            font-size: 14px;
            margin-bottom: 10px;
        }

        .order-card .badge {
            font-size: 12px;
            padding: 5px 10px;
            border-radius: 20px;
        }

        .order-card.status-1 {
            background-color: #17a2b8;
        }

        .order-card.status-2 {
            background-color: #ffc107;
        }

        .order-card.status-3 {
            background-color: #28a745;
        }

        .order-card.status-4 {
            background-color: #FF0000;
        }
</style>

<!-- Otros scripts que tienes en tu archivo Pedidos.cshtml -->

<script>
    $(document).ready(function () {
        $(".dropdown-item").click(function () {
            var orderId = $(this).data("orderid");
            var statusId = $(this).data("statusid");

            $.ajax({
                url: '@Url.Action("UpdateOrderStatus", "VentasPedidos")',
                type: 'POST',
                data: { orderId: orderId, statusId: statusId },
                success: function (response) {
                    console.log("Respuesta del servidor:", response);

                    if (response.success) {
                        console.log("Estado actualizado exitosamente en el servidor");

                        // Recargar la página para reflejar los cambios en el estado
                        location.reload();
                    } else {
                        console.log('No se pudo actualizar el estado:', response.message);
                        alert('No se pudo actualizar el estado: ' + response.message);
                    }
                },
                error: function () {
                    alert('Error al actualizar el estado');
                }
            });
        });
    });
</script>
