@model List<Ristorante360Admin.Models.Inventory>

@{
    ViewData["Title"] = "Ristorante 360 - Inventario";
    Layout = "~/Views/Shared/_Layout_General.cshtml";
    var sweetAlertMessage = TempData["SweetAlert"] as string;

}

<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Inventario de Insumos</h4>
                    <p class="mb-0"></p>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Administración</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Inventario</a></li>
                </ol>
            </div>
        </div>
        <!-- row -->

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Administracion de inventario</h4>
                        <a class="btn btn-success btn-sm" asp-controller="Inventario" asp-action="AgregarInsumo">Añadir Insumo</a>
                        
                        @*Generar PDF*@
                        <a href="@Url.Action("GeneratePDF", "PDF")" class="btn btn-primary">Generar PDF</a>

                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="tableInventario" class="display nowrap table table-striped style=" style="width:100%">
                                <thead class="bg-info">
                                    <tr>
                                        <th><strong>Nombre del insumo</strong></th>
                                        <th><strong>Cantidad</strong></th>
                                        <th><strong>Unidad</strong></th>
                                        <th><strong>Cantidad minima</strong></th>
                                        <th><strong>Lote</strong></th>
                                        <th><strong>Fecha de ingreso</strong></th>
                                        <th><strong>Fecha de expiracion</strong></th>
                                        <th><strong>Estado</strong></th>
                                        <th><strong>Acción</strong></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var inventory in Model)
                                    {
                                        <tr>
                                            <td>@inventory.oSupplies.Description</td>
                                            <td>@inventory.Amount</td>
                                            <td>@inventory.oUnitType.Unit</td>
                                            <td>@inventory.MinimumAmount</td>
                                            <td>@inventory.Lote</td>
                                            <td>@inventory.AdmissionDate.ToString("dd/MM/yyyy")</td>
                                            <td>@inventory.ExpirationDate.ToString("dd/MM/yyyy")</td>
                                            <td>
                                                @if (inventory.Status)
                                                {
                                                    <span class="badge badge-success">Disponible</span>
                                                }
                                                else
                                                {
                                                    <span class="badge badge-danger">Agotado</span>
                                                }
                                            </td>
                                            <td>
                                                <div class="dropdown">
                                                    <button type="button" class="btn btn-success light sharp" data-toggle="dropdown">
                                                        <svg width="20px" height="20px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24" /><circle fill="#000000" cx="5" cy="12" r="2" /><circle fill="#000000" cx="12" cy="12" r="2" /><circle fill="#000000" cx="19" cy="12" r="2" /></g></svg>
                                                    </button>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item" asp-controller="Inventario" asp-action="AgregarInsumo" asp-route-InventoryId="@inventory.InventoryId">Editar</a>
                                                        <button type="button" class="dropdown-item delete-button" data-id="@inventory.InventoryId" data-name="@inventory.oSupplies.Description">Eliminar</button>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
<script src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    var js = jQuery.noConflict(true);
    js(document).ready(function () {
        js('#tableInventario').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.25/i18n/Spanish.json"
            },
            responsive: true
        });

        // Agregar el evento de clic al botón de eliminación
        js('.delete-button').click(function () {
            var button = js(this);
            // Obtener el ID y el nombre del producto de suministro
            var inventaryId = button.data('id');
            var productName = button.data('name');

            // Mostrar el SweetAlert para confirmar la eliminación
            Swal.fire({
                title: '¿Estás seguro?',
                text: `¿Está seguro de eliminar el producto "${productName}"?`,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sí, eliminar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Si el usuario confirma la eliminación, enviar el formulario de eliminación
                    var form = js(`<form method="post" action="/Inventario/InventarioDelete">
                                            <input type="hidden" name="inventaryId" value="${inventaryId}" />
                                          </form>`);
                    js('body').append(form);
                    form.submit();
                }
            });
        });
    });
</script>

<style>
    div.container {
        max-width: 1200px
    }
</style>

@if (!string.IsNullOrEmpty(sweetAlertMessage))
{
    <script>
        Swal.fire({
            icon: 'success',
            title: '@sweetAlertMessage',
            showConfirmButton: false,
            timer: 2000
        });
    </script>
}